spring:
  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:E:/cbdb/CBDB.db
  h2:
    console:
      enabled: true
      path: /h2-console
  thymeleaf:
    cache: false
server:
  port: 8888